<!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="http://res.cloudinary.com/co/image/upload/v1476797943/facebook-avatar_byjhpd.jpg" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
              <%= @profile.full_name %>
  					</div>
					<div class="profile-usertitle-job">
              <%= @profile.bio %>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Follow</button>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
            <% if current_user.profile == @profile %>
						<li>
							<a href="<%= edit_profile_path(current_user.profile) %>">
							<i class="glyphicon glyphicon-edit"></i>
							Edit Profile </a>
						</li>
						<li>
							<a href="<%= orders_path %>">
							<i class="glyphicon glyphicon-th-list"></i>
							Your Orders </a>
						</li>
            <li>
              <a href="<%= new_product_path %>">
              <i class="glyphicon glyphicon-plus"></i>
              Add product </a>
            </li>
            <% end %>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
              List of your lessons.
            </div>
		</div>
	</div>
</div>
