<div class="main">
  <% if @order %>
    <% @order.errors.full_messages.each do |msg| %>
      <p class="alert alert-danger"><%= msg %></p>
    <% end %>
    <%= form_for @order do |f| %>
      <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Price</th>
        </tr>
      <% @order.line_items.each do |li| %>
        <tr class=" <%= li.product.categories[0].name.downcase %>">
          <td><%= li.product.name %></td>
          <td><%= li.amount %></td>
          <td><%= "#{number_to_currency li.product.price, unit: '€'}" %></td>
        </tr>
        <%= f.hidden_field :line_item_ids, :multiple => true, :value => li.id %>
      <% end %>
      </table>
      <div class="actions">
        <%= f.submit "Submit Order", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% else %>
    <h3>No items in order yet</h3>
  <% end %>
</div>

