<main>
    <div class="container">
        <div class="col-sm-12">
            <h1><%= @category.name %></h1>
            <% @products.each do |product| %>
            <div class="bs-calltoaction bs-calltoaction-default <%= @category.name.downcase %>">
                <div class="row">
                    <div class="col-md-9 cta-contents">
                        <h1 class="cta-title"><%= product.name %></h1>
                        <div class="cta-desc">
                            <p><%= product.description %></p>
                            <p><%= number_to_currency(product.price, unit: '€') %></p>
                        </div>
                    </div>
                    <div class="col-md-3 cta-button">
                        <a href="<%= product_path(product.id) %>" class="btn btn-lg btn-block btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</main>
