<div class="main">
    <%= form_tag(!session[:shopping_cart] ? new_product_shopping_cart_path(@product.id) : edit_product_shopping_cart_path(@product.id), method: "get") do%>
    <h1><%= @product.name %></h1>
    <!-- For now only display first photo in photo array -->
    <!-- TODO needs expand photos button or similar -->
    <% if @photos %>
      <% @photos.each do |photo| %>
          <div>
            <%= image_tag photo.image, class: "image" %>
          </div>
          <div class="panel-body">
          </div>
        </div>
      <% end %>
    <% end %>
    <span class="price">Price: € <%= @product.price %></span>
    <span class="sold-by">Sold by: <%= @seller %></span>
    <%= @can_edit ? link_to("Edit", edit_product_path, class: "btn btn-default") : "" %>
    <label>Find more in:</label>
    <ul class="list">
        <% @product.categories.each do |category| %>
            <li class="list-item">
                <%= link_to category.name, category %>
            </li>
        <% end %> 

    </ul>
    <%= select_tag "amount", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe  %>
    <%= submit_tag "Add to cart" %>
    <% end %>
</div>
