<div class="main">
    <h1 class="title"><%= @product.name %><%= @can_edit ? link_to("Edit product", edit_product_path, class: "btn btn-default") : "" %></h1>

    <!-- For now only display first photo in photo array -->
    <!-- TODO needs expand photos button or similar -->
    <div class="photos-container">
        <% if @photos %>
          <% @photos.each do |photo| %>
              <div>
                <%= image_tag photo.image, class: "image" %>
              </div>
          <% end %>
        <% end %>
    </div>

    <div>
        <span class="price">Price: € <%= @product.price %></span>
        <span class="sold-by">Sold by: <%= @seller %></span>
        <p><%= @product.description %></p>
        <label>Find more like this in:</label>
        <ul class="list">
            <% @product.categories.each do |category| %>
                <li class="list-item">
                    <%= link_to category.name, category %>
                </li>
            <% end %>
        </ul>
    </div>
</div>
